@charset "UTF-8";
body {
  background-color: #ff4242;
  font-family: "Lora", serif;
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: "Lora", serif;
  font-weight: 700;
  margin-top: 60px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}
h2 span {
  font-weight: 400;
}

.pagination {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}
.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.pagination li a:hover, .pagination li a.active {
  color: #fff;
  background-color: #ff4242;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}