
.edit-user-info{
	color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    margin: 150px auto auto;
    padding: 0;
    -webkit-box-flex: 0;
    flex: 0 auto;
    
}
/*margin 안먹어서 !important 처리*/
.edit-user-info__wrap.container {
    position: relative !important;
    margin: 50px auto !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    padding: 50px;
    color: #292929;
    
}
#profile,#setting{
	font-size: 18px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1136px !important;
    max-width: 100%;
    min-width: 50%;
    box-sizing: border-box !important;
    min-height: 1px;
}
.page-navigation__item>a.active:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #95E1D3;
    left: 0;
    bottom: 0;
}
.page-navigation>ul {
    text-align: center;
    white-space: nowrap;
    margin: 0;
}
.page-navigation__item>a {
    display: block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    height: 60px;
    line-height: 60px;
    transition: color .15s ease;
}

.myhome-nav myhome-nav--owner{
    color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;	
}
.page-navigation myhome-nav__owner{
    color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid #ededed;
    width: 100%;
    overflow: visible;
    font-size: 16px;
}
.page-navigation myhome-nav__owner>ul{
    color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    -webkit-box-direction: normal;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    transform: translateX(0px);	
}
.page-navigation{
    border-bottom: 1px solid #ededed;
    width: 100%;
    overflow: hidden;
}
.page-navigation__item{
    color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    -webkit-box-direction: normal;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    user-select: none;
    display: inline-block;
    }
.page-navigation__item>a{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    -webkit-box-direction: normal;

    list-style: none;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;
    display: block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    transition: color .15s ease;
    height: 50px;
    line-height: 50px;	
}

.myhome-nav myhome-nav--owner:last-child{
	margin-bottom: 50px;
}
.page-navigation myhome-nav__contents>ul{
    color: #424242;
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    transform: translateX(0px);	
    
}
.page-navigation__item>a.active, .page-navigation__item>a:not(.active):hover {
    color: #95E1D3;
}
/*상단바 구분선*/
.update-password__wrap{
	line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 15px;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    margin: 50px auto;
    }

.update-password__title{
        line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    -webkit-box-direction: normal;
    color: #292929;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
form{
	line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}
.update-password__section{
	    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.update-password__section__title{
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-bottom: 5px;
}
.update-password__section__sub-title{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;	
}
.expert-form-group{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 20px 0;	
}
.expert-form-group__content{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;	
}
.expert-form-group__input{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;	
}
.form-control{
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    -webkit-appearance: none;
    font-size: 15px;
    border-radius: 6px;
    text-align: left;
}
.update-password__section{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 1.5;	
}
.update-password__section__title{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-bottom: 5px;	
}
.expert-form-group{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 20px 0;	
}
.expert-form-group__content{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;	
}
.expert-form-group__input{
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
    -webkit-box-direction: normal;
    color: #292929;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;	
}
.form-control{
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    -webkit-appearance: none;
    font-size: 15px;
    border-radius: 6px;
    text-align: left;	
}
.button{
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    touch-action: manipulation;
    user-select: none;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
    background-color: #95E1D3;
    border-color: #95E1D3;
    color: #fff;
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
    width: 100%;	
}