/* Feedify v1.1.2 by Sarah Dayan | https://sarahdayan.github.io/feedify */


.feedify .feedify-item {
  position: relative;
}
.feedify .feedify-item .feedify-item-header {
  z-index: 100;
  transform: translate3d(0, 0, 0);
  color: black;
}
.feedify .feedify-item.fixed .feedify-item-header {
  position: fixed;
  top: 0;
}
.feedify .feedify-item.bottom .feedify-item-header {
  position: absolute;
  bottom: 0;
}

a {
	color:black;
}

.list-inline a {
	color:#95E1D3;
}

.add-comment {
	margin-top: 20px;
}

.add-comment i,.add-comment p {
	 color:#95E1D3;
}

.add-comment i{
	font-size: 20px;
}

.add-comment input{
	width:90%;
	border:none;
}

/* main theme */
* {
  outline: none !important;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.feedify {
  padding: 0 20px;
  background: #fff;
}
.feedify .feedify-item {
  /*padding: 0 20px;*/
  border: 1px solid #ddd;
  transition: all 0.2s ease-out;
  margin: 30px 0;
}
.feedify .feedify-item .feedify-item-header {
  padding: 15px 15px;
  background: #fff;
  z-index: 100;
}
.feedify .feedify-item .feedify-item-header h1 {
  margin: 0;
  font-size: 15px;
  line-height: 50px;
  font-weight: 600;
}
.feedify .feedify-item .feedify-item-header h2 {
  margin: 0;
  font-size: 12px;
  color: #bbb;
  line-height: 50px;
  font-weight: 600;
}
.feedify .feedify-item .feedify-item-header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  padding: 2px;
  border: 3px solid #95E1D3;
  
}
/*
@media (max-width: 767px) {
  .feedify .feedify-item .feedify-item-header h1 {
    font-size: 18px;
    line-height: 60px;
  }
  .feedify .feedify-item .feedify-item-header img {
    width: 30px;
    height: 30px;
  }
}*/

.feedify .feedify-item footer {
  padding: 20px 20px;
}
.feedify .feedify-item footer h3, .feedify .feedify-item footer h4 {
  line-height: normal;
  font-weight: 600;
}
.feedify .feedify-item footer h3 {
  margin-bottom: 20px;
  font-size: 16px;
}
.feedify .feedify-item footer h3 a {
  text-decoration: none;
}
.feedify .feedify-item footer h4 {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
}
.feedify .feedify-item footer .actions {
  margin-bottom: 20px;
  font-size: 30px;
}