#container {
    width: 100%;
}

#container #main {
    padding: 3%;
}

#main .csNotice {
    position: relative;
    display: flex;
    padding: 20px;
    margin: 20px;
    background: #51a9af4f;
    font-weight: bold;
    margin-bottom: 5%;
}

#main .qna_title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgba(207, 210, 218, 0.712);;
}

.qna_KeywordListItem ul{
    margin-top: 2%;
    list-style: none;
    display: flex;
}
.qna_KeywordListItem ul li{
    flex: 1;
    font-size: 0.6em;
    
}
.qna_searchbox{
    background-color: white;
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    display: flex;
    justify-content: center;
}
#qna_searchbox_input{
    border:none;
    outline: none;
}


<!-- 클래스 아이디 정리 구분선-->
#main .csNotice .contact {
    flex: 1;
    font-size: 1.3em;
}

#main .csNotice .csFaq {
    flex: 1;

}

#main .csNotice .csFaq .csFaq_list {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

#main .faq {
    padding: 20px;
    margin: 20px;
}
#main .faq .faq_nav {
justify-content: space-between;
align-items: center;    
padding: 8px 12px;
border-bottom: 1px solid #dbdbdb;
}
.faq_nav_list ul{
    background-color: #51a9af31;
    display: flex;
    list-style: none;
    padding: 1%;
}
.faq_nav_list ul li{
    flex: 1;
    padding: 1%;
}
.faq_nav_list ul li a{
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
}